doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # Siempre declara la versión del servidor
        server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true

    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware

        # Preferencia para PostgreSQL
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity

        auto_mapping: true

        mappings:
            App:
                type: attribute
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                is_bundle: false
                alias: App

        # No usar autowire automático para resolver controllers
        controller_resolver:
            auto_mapping: false


when@test:
    doctrine:
        dbal:
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'


when@prod:
    doctrine:
        dbal:
            # No rastrea stack de profiler en prod
            profiling_collect_backtrace: false

        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'

            # Cache con Redis
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool

            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.adapter.redis
                    provider: 'redis://redis:6379'

                doctrine.system_cache_pool:
                    adapter: cache.adapter.redis
                    provider: 'redis://redis:6379'
