framework:
    messenger:
        failure_transport: failed

        transports:

            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'  # redis://redis:6379/messages
                options:
                    serializer: messenger.transport.symfony_serializer
                    stream: messages
                    auto_setup: false
                retry_strategy:
                    max_retries: 5
                    delay: 2000
                    multiplier: 3
                    max_delay: 30000   # 30s máximo

            failed:
                dsn: 'doctrine://default?queue_name=failed'
                options:
                    auto_setup: true

            # Ejecución inmediata (solo dev)
            sync: 'sync://'

        routing:
            'App\Domain\Student\Event\StudentCreatedEvent': async
            'App\Message\SendEmailMessage': async
            'App\Message\AuditLogMessage': async

when@test:
    framework:
        messenger:
            transports:
                async: 'in-memory://'
