*
!public/
!.gitignore
# Laravel specific files to ignore (if not already handled by default .gitignore in subfolders)
/storage/app/*
!/storage/app/.gitignore # Keep the .gitignore files inside subfolders
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*.log
!/storage/logs/.gitignore

/public/storage
/storage/*.key
